<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wepets-Product-List</title>
</head>
<body>
{#-------mobile-------#}
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="wepets top-bar" id="main-menu">
    <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">We & Pets</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
            <li class="has-submenu">
                <a href="#">Dog</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="#">Food</a></li>
                    <li><a href="#">Accessory</a></li>
                    <li><a href="#">Medicine</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Cat</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="#">Food</a></li>
                    <li><a href="#">Accessory</a></li>
                    <li><a href="#">Medicine</a></li>
                </ul>
            </li>
            <li id='login-btn'></li>
        </ul>
    </div>
</div>

<div class="wallpaper-1"></div>

{% block main %}{% endblock %}

<div id="login-form" class="modal hidden"></div>

<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">We & Pets</p>
      <p class="links">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </p>
      <p class="copywrite">Copywrite not copypwrite © 2015</p>
    </div>
  </div>
</footer>
</body>
</html>
