$blue: red;
.ttt {
  color: $blue;
  font-size: large
}

#section-1-products-list .custom-tab li{
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    margin: 0 15px;
    text-transform: capitalize;
    transition: all 300ms ease-in 0s;
     list-style: none;
}
